* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  width: 100%;
  height: 80px;
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header img {
  height: 80%;
}

header ul {
  display: flex;
  list-style-type: none;
}
header ul li a {
  margin: 0 0.8rem;
  padding: calc(40px - 0.8rem + 2px) 0;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
header ul li a:hover, header ul li a:active, header ul li a.active {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

.footer-container {
  width: 100%;
  background-image: url("../../img/footer-bg.jpg");
}
.footer-container .myimg {
  position: absolute;
}

.container-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.links {
  display: flex;
  margin: 2rem 0;
}
.links .col {
  position: relative;
  z-index: 100;
}
.links .col h2 {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  margin-right: 2rem;
  text-transform: uppercase;
  color: white;
}
.links .col ul {
  list-style-type: none;
  margin-right: 1rem;
}
.links .col ul li a {
  display: block;
  text-decoration: none;
  color: gray;
  padding-right: 0.5rem;
  padding: 0.2rem 0;
}
.links .col ul li a:hover {
  color: white;
}

.col-img .footer-dc-logo {
  position: absolute;
  top: -50px;
  right: 0;
  height: 120%;
  -o-object-position: top;
     object-position: top;
}

.footer-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #303030;
}

.footer-bottom > .container {
  justify-content: space-between;
}

.footer-bottom {
  position: relative;
  z-index: 100;
}

.sign-up {
  border: 1px solid #0282F9;
  background-color: #303030;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.sign-up:hover {
  background-color: #0282F9;
}

.social {
  display: flex;
  align-items: center;
}
.social h2 {
  font-size: 1.3rem;
  color: #0282F9;
  text-transform: uppercase;
}
.social ul {
  display: flex;
  list-style-type: none;
  margin-left: 1rem;
}
.social ul li {
  margin-right: 0.7rem;
}

.buy {
  position: relative;
  z-index: 100;
  background-color: #0282F9;
}
.buy .cta-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.buy ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.buy ul li:last-child img {
  height: 1.6rem;
}
.buy ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 2rem 1rem;
  font-size: 0.8rem;
}
.buy ul li a img {
  height: 2rem;
  margin-right: 1rem;
}

main {
  width: 100%;
  background-color: #1c1c1c;
}

.jumbo {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.jumbo img {
  width: 100%;
}

.main-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-container .section-badge {
  align-self: flex-start;
  position: relative;
  bottom: 25px;
  padding: 0.7rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #0282F9;
}
.main-container .comics-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.main-container .comics-list .comic-item {
  width: 16.6666666667%;
  padding: 1.5rem 1rem;
}
.main-container .comics-list .comic-item a {
  text-decoration: none;
  color: white;
}
.main-container .comics-list .comic-item .comic-thumbnail {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.main-container .comics-list .comic-item .comic-name {
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9rem;
}
.main-container .load-more {
  background-color: #0282F9;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 0.7rem 1.1rem;
  margin-bottom: 1rem;
  align-self: center;
}
.main-container .load-more:hover {
  cursor: pointer;
}

.comic-main {
  width: 100%;
}

.separation {
  width: 100%;
  height: 80px;
  background-color: #0282F9;
}

.comic-container {
  display: flex;
  width: 70%;
  margin: 4rem auto;
}
.comic-container .thumb-container {
  position: absolute;
  top: 280px;
  border: 2px solid white;
  text-align: center;
}
.comic-container .thumb-container .thumb-top {
  height: 250px;
}
.comic-container .thumb-container .lbl {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  background-color: #40b1d3;
  z-index: 100;
  padding: 5px 0;
}
.comic-container .thumb-container .view-gallery {
  bottom: 0;
  width: 100%;
}
.comic-container .thumb-container .type {
  top: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.comic-container .desc {
  width: 70%;
}
.comic-container .comic-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: #2eb12e;
  font-weight: bold;
  margin: 2rem 0;
  border-bottom: 1px solid black;
}
.comic-container .comic-info-container .comic-info {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.comic-container .comic-info-container .comic-info .country-price {
  color: rgba(255, 255, 255, 0.7);
}
.comic-container .comic-info-container .comic-info .price {
  color: white;
}
.comic-container .comic-info-container .comic-info .availability {
  display: flex;
  justify-content: space-between;
}
.comic-container .comic-info-container .comic-info .availability .isAvailable {
  margin-right: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.comic-container .comic-info-container .check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100%;
  padding: 0 1rem;
  border-left: 1px solid black;
  color: white;
}
.comic-container .comic-info-container .check > i {
  font-size: 0.8rem;
  margin-left: 10px;
}
.comic-container .comic-desc {
  line-height: 25px;
  width: 90%;
  color: grey;
}
.comic-container .adv-container {
  width: 30%;
  text-align: right;
}
.comic-container .adv-container .adv-label {
  text-transform: uppercase;
  color: gray;
  font-size: 0.8rem;
  font-weight: 600;
}
.comic-container .adv-container img {
  width: 100%;
  margin-top: 5px;
}

.specs-container {
  background-color: #f3f3f3;
  width: 100%;
  border-top: 1px solid lightgray;
}
.specs-container .comic-container {
  margin-bottom: 0;
  padding-bottom: 5rem;
  justify-content: space-between;
}
.specs-container .comic-container .item-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;
}
.specs-container .comic-container .item-container h3 {
  font-weight: 500;
  font-size: 0.9rem;
  color: #32323f;
}
.specs-container .comic-container .item-container .names {
  width: 70%;
}
.specs-container .comic-container .item-container .name {
  text-decoration: none;
  color: #2f96b6;
  font-size: 0.8rem;
  font-weight: 600;
}
.specs-container .comic-container .item-container .name.series {
  text-transform: uppercase;
}
.specs-container .comic-container .box-title {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2rem;
  font-weight: 500;
}
.specs-container .comic-container .talent {
  width: 45%;
}
.specs-container .comic-container .specs {
  width: 45%;
}
.specs-container .comic-container .specs a, .specs-container .comic-container .specs span {
  width: 70%;
}